@charset "utf-8";
/* CSS Document */

.containerimg img {
	width: 100px;
	height: auto;
	margin-bottom: 40px;
}

.black-background {
	background-color: #000000;
}

.white {
	color: #ffffff;
}

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
